appnope==0.1.0
backcall==0.1.0
boto3==1.9.99
botocore==1.12.99
decorator==4.3.2
deepdiff==4.0.6
docutils==0.14
gitdb2==2.0.5
GitPython==2.1.11
ipython==7.3.0
ipython-genutils==0.2.0
jedi==0.13.2
jmespath==0.9.3
pandas==0.24.2
parso==0.3.4
pexpect==4.6.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
pycparser==2.19
Pygments==2.3.1
python-dateutil==2.8.0
python-magic==0.4.15
s3transfer==0.2.0
six==1.12.0
smmap2==2.0.5
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
pytz==2019.1
requests==2.23.0
